<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Include empty world -->
    <arg name="ns" default="p3dx"/>
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />

    <!-- Spawn robot-->
    <group>
    	<push_ros_namespace namespace="$(var ns)"/>
        <param name="tf_prefix" value="$(var ns)_tf" />
        <include file="$(find-pkg-share p3dx_gazebo)/launch/spawn.launch">
            <arg name="name" value="$(var ns)" />
            <arg name="x" value="$(var x)" />
            <arg name="y" value="$(var y)" />
            <arg name="z" value="$(var z)" />
            <arg name="namespace_arg" value="$(var ns)" />
        </include>
    </group>
</launch>
