<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="name" default="p3dx"/>
    <arg name="namespace_arg" default=""/>

    <arg name="robot_model" default="$(find p3dx_description)/urdf/pioneer3dx.xacro"/>
    <let name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)'" />

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf 
                -unpause
                -urdf
                -param /$(var namespace_arg)/robot_description 
                -model $(var name)
                -robot_namespace $(var namespace_arg)
                -x $(var x) 
                -y $(var y) 
                -z $(var z)" />

    <include file="$(find p3dx_control)/launch/control.launch">
            <arg name="name" value="$(var namespace_arg)" />
            <arg name="x" value="$(var x)" />
            <arg name="y" value="$(var y)" />
            <arg name="namespace_arg" value="$(var namespace_arg)" />
            <arg name="tfprefix" value="$(var namespace_arg)_tf"/>
        </include>

</launch>
